---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
# 對應的標頭（LedgerCore.cpp -> LedgerCore.h）自動排到最前面，優先權 0。
IncludeIsMainRegex: '$'
IncludeCategories:
  # 本專案的標頭
  - Regex: '^<ledger/'
    Priority: 1
  # 第三方函式庫
  - Regex: '^<(gtest|gmock|pqxx)/'
    Priority: 2
  # C 標準函式庫（有 .h 的）
  - Regex: '^<[a-z_/]+\.h>'
    Priority: 3
  # C++ 標準函式庫
  - Regex: '^<[a-z_]+>'
    Priority: 4
  - Regex: '.*'
    Priority: 5
